<table class="draftable">
  <thead>
    <tr>
      <th></th>
      <th><strong><%= title %></strong></th>
      <th>Public</th>
      <th>Private</th>
    </tr>
  </thead>

  <tbody>
    <% players.limit(25).each_with_index do |player, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= player.name %></td>
        <td><%= player.public_value %></td>
        <td><%= player.private_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
