<section class="summary">
  <h2><%= title %></h2>
  <p><%= data[:count_needed] %> Needed </p>
  <p>$<%= data[:value_available].round(1) %> Value </p>
  <p>$<%= data[:spend_available].round(1) %> to Spend </p>
  <p>$<%= data[:value_per_spend].round(2) %> Value/Spend </p>
</section>
