<p id="notice"><%= notice %></p>

<h1>Draft</h1>

<p>
  <strong>League:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @league.size %>
</p>

<div>
  <%= link_to 'Back', leagues_path %>
</div>

<section class="clearfix">
  <% @scarcity_data.each do |title, data| %>
    <%= render 'scarcity_summary', title: title, data: data %>
  <% end %>
</section>

<%= render 'draftable_players_table', title: "RB", players: @league.players.RB.ranked %>
<%= render 'draftable_players_table', title: "WR", players: @league.players.WR.ranked %>
<%= render 'draftable_players_table', title: "QB", players: @league.players.QB.ranked %>
<%= render 'draftable_players_table', title: "TE", players: @league.players.TE.ranked %>
<%= render 'draftable_players_table', title: "DEF", players: @league.players.DEF.ranked %>
<%= render 'draftable_players_table', title: "K", players: @league.players.K.ranked %>

